* {
  margin: 0;
  padding: 0;
}

/* ---HEADER--- */
header {
  display: flex;
  justify-content: space-between;
  background-color: #D2D2CF;
}
.nav-bar {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.nav-link {
  margin: 10px;
  color: #8B0000;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.logo {
  height: 150px;
  margin-left: 20px;
}
